
<footer>
    <div class="container-fluid info-footer position-relative footer-container-padding ">
        <div class=" scroll-top-box d-flex align-items-end ">
            <a href="#top" class="btn-warning shadow  scroll-top ">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M15 20H8.99997V12H4.15997L12 4.16003L19.84 12H15V20Z" fill="black"/>
                </svg>
            </a>
        </div>
       <div class="row">
           <div class="col-md-6">
                <div class="info-footer-container">
                    <div>
                        <h3 class="info-footer-container-inscription"> Sika Schweiz AG</h3>
                    </div>
                    <div>
                        <table>



                                       {% set tenant = getTenant() %}

                                            <tr>
                                                <td>{{ tenant.titel }}<br>{{ tenant.streetAndNumber }}
                                                    <br>
                                                {{ tenant.CountryCode }}

                                                {{ tenant.PLZ }}
                                                {{ tenant.city}}<br>
                                                    <br>
                                                Tel {{ tenant.phone }}<br>
                                                    Email : <a class="sika-link" href="#"> {{ tenant.email }} </a>
                                                </td>
                                            </tr>

                        </table>
                </div>
            </div>
       </div>
           <div class="col d-flex align-items-center justify-content-end" >
               <div class="row">
                   <div class="col ">
                       <div class="info-footer-logo d-flex justify-content-center ">
                           <svg width="340" height="113" viewBox="0 0 340 113" fill="none" xmlns="http://www.w3.org/2000/svg">
                               <path d="M7.28724 112.582H0.435211V96.5284H6.7799C10.132 96.5284 11.3639 97.8771 11.3639 100.047V101.685C11.3639 102.847 10.8541 103.664 9.57792 104.218C10.9042 104.529 11.9393 105.688 11.9393 107.186V108.748C11.9393 111.015 10.4913 112.582 7.28724 112.582ZM7.74639 100.581C7.74639 99.8798 7.3101 99.4464 6.29881 99.4464H4.05528V103.111H6.29881C7.25932 103.111 7.74639 102.629 7.74639 101.977V100.581ZM8.3223 107.281C8.3223 106.388 7.76925 105.93 6.80017 105.93H4.05528V109.667H6.29881C7.43025 109.667 8.3223 109.425 8.3223 108.268V107.281Z" fill="white"/>
                               <path d="M26.2182 96.5283V107.906C26.2182 110.34 24.6995 112.822 20.1668 112.822C15.6293 112.822 14.1082 110.34 14.1082 107.906V96.5283H17.7314V107.572C17.7314 108.87 18.3555 109.612 20.1668 109.612C21.9756 109.612 22.599 108.87 22.599 107.572V96.5283H26.2182Z" fill="white"/>
                               <path d="M29.3536 96.5284H32.9697V112.582H29.3536V96.5284Z" fill="white"/>
                               <path d="M36.2301 112.582V96.5284H39.8461V109.38H46.212V112.582H36.2301Z" fill="white"/>
                               <path d="M54.4872 112.582H48.2624V96.5284H54.4872C58.4422 96.5284 59.9141 98.5312 59.9141 100.699V108.414C59.9141 110.561 58.4422 112.582 54.4872 112.582ZM56.2935 101.685C56.2935 100.436 55.8602 99.7332 54.0549 99.7332H51.8844V109.38H54.0549C55.8602 109.38 56.2935 108.678 56.2935 107.425V101.685Z" fill="white"/>
                               <path d="M62.8071 96.5284H66.4236V112.582H62.8071V96.5284Z" fill="white"/>
                               <path d="M73.1285 102.026V112.582H69.6809V96.5284H74.1163L79.399 107.593V96.5284H82.8516V112.582H78.3884L73.1285 102.026Z" fill="white"/>
                               <path d="M91.5064 112.822C87.5997 112.822 85.6219 110.819 85.6219 107.906V101.206C85.6219 98.2405 87.5997 96.2885 91.5064 96.2885C93.3696 96.2885 95.2711 96.5283 96.6479 96.7946L96.2115 99.9513C94.8152 99.7358 92.6658 99.5659 91.5064 99.5659C89.7016 99.5659 89.2419 100.507 89.2419 101.762V107.281C89.2419 108.535 89.7016 109.566 91.5064 109.566C92.2304 109.566 92.7164 109.547 93.6541 109.425V104.507H97.0545V112.051C95.2945 112.556 93.3696 112.822 91.5064 112.822Z" fill="white"/>
                               <path d="M111.795 99.7332V112.582H108.174V99.7332H103.858V96.531H116.108V99.7332H111.795Z" fill="white"/>
                               <path d="M123.707 107.593H121.587V112.582H117.97V96.5284H124.646C128.555 96.5284 130 98.0732 130 101.082V103.062C130 105.063 129.281 106.411 127.665 107.09L131.547 112.582H127.252L123.707 107.593ZM126.384 101.425C126.384 100.217 125.927 99.7307 124.453 99.7307H121.587V104.459H124.453C125.998 104.459 126.384 103.903 126.384 102.699V101.425Z" fill="white"/>
                               <path d="M145.463 96.5283V107.906C145.463 110.34 143.947 112.822 139.413 112.822C134.873 112.822 133.353 110.34 133.353 107.906V96.5283H136.972V107.572C136.972 108.87 137.6 109.612 139.413 109.612C141.221 109.612 141.846 108.87 141.846 107.572V96.5283H145.463Z" fill="white"/>
                               <path d="M153.184 112.822C151.324 112.822 149.37 112.414 147.999 111.788L148.6 108.989C150.07 109.448 151.569 109.763 153.232 109.763C155.086 109.763 155.448 109.399 155.448 108.051C155.448 106.603 155.379 106.434 152.75 105.859C148.866 105.015 148.284 104.244 148.284 100.77C148.284 97.5632 149.421 96.2885 153.836 96.2885C155.228 96.2885 156.923 96.4326 158.704 96.8153L158.344 99.8555C156.506 99.5411 155.325 99.4012 153.881 99.4012C152.263 99.4012 151.904 99.6876 151.904 100.866C151.904 102.411 151.973 102.436 154.507 103.037C158.851 104.074 159.067 104.92 159.067 108.077C159.067 111.253 158.028 112.822 153.184 112.822Z" fill="white"/>
                               <path d="M168.257 99.7332V112.582H164.637V99.7332H160.318V96.531H172.573V99.7332H168.257Z" fill="white"/>
                               <path d="M330.063 72.1623H331.385C332.015 72.1623 332.445 72.0685 332.676 71.8809C332.906 71.6917 333.02 71.4424 333.02 71.1331C333.02 70.9328 332.965 70.7563 332.853 70.5982C332.743 70.4394 332.589 70.3219 332.394 70.2458C332.197 70.1671 331.832 70.1291 331.301 70.1291H330.063V72.1623ZM328.975 75.9559V69.2149H331.292C332.085 69.2149 332.658 69.2774 333.011 69.4026C333.366 69.5258 333.649 69.7448 333.86 70.053C334.069 70.3634 334.175 70.6929 334.175 71.0418C334.175 71.5336 333.999 71.963 333.648 72.3281C333.296 72.6942 332.83 72.8974 332.248 72.9426C332.487 73.042 332.676 73.1612 332.82 73.3001C333.093 73.5668 333.426 74.0105 333.818 74.6366L334.64 75.9559H333.31L332.713 74.8927C332.241 74.057 331.862 73.5338 331.575 73.3245C331.377 73.1687 331.085 73.0926 330.702 73.0926H330.063V75.9559H328.975ZM331.724 67.2639C330.845 67.2639 329.986 67.49 329.152 67.9414C328.32 68.3911 327.668 69.0365 327.196 69.8756C326.725 70.7142 326.491 71.5869 326.491 72.4939C326.491 73.3964 326.722 74.2613 327.183 75.0888C327.647 75.9163 328.293 76.5602 329.124 77.0232C329.954 77.4855 330.822 77.7153 331.724 77.7153C332.627 77.7153 333.495 77.4855 334.325 77.0232C335.155 76.5602 335.8 75.9163 336.261 75.0888C336.72 74.2613 336.95 73.3964 336.95 72.4939C336.95 71.5869 336.714 70.7142 336.248 69.8756C335.778 69.0365 335.126 68.3911 334.292 67.9414C333.454 67.49 332.6 67.2639 331.724 67.2639ZM331.724 66.2276C332.776 66.2276 333.805 66.4958 334.806 67.0373C335.809 67.5762 336.59 68.347 337.148 69.3519C337.708 70.3557 337.989 71.4044 337.989 72.4939C337.989 73.5743 337.712 74.6113 337.161 75.6085C336.611 76.6033 335.836 77.3765 334.845 77.9271C333.85 78.4798 332.81 78.7537 331.724 78.7537C330.638 78.7537 329.599 78.4798 328.604 77.9271C327.609 77.3765 326.837 76.6033 326.283 75.6085C325.73 74.6113 325.453 73.5743 325.453 72.4939C325.453 71.4044 325.734 70.3557 326.295 69.3519C326.859 68.347 327.641 67.5762 328.642 67.0373C329.645 66.4958 330.672 66.2276 331.724 66.2276Z" fill="white"/>
                               <path d="M303.467 90.907C300.841 90.8132 297.594 91.4901 297.594 93.5988C297.594 95.1381 299.39 96.714 302.666 96.5573C305.444 96.4234 307.794 95.1746 307.847 93.6338C307.915 91.5713 306.098 90.9992 303.467 90.907Z" fill="white"/>
                               <path d="M315.384 99.706C315.087 100.461 313.945 101.374 311.917 100.837C311.09 100.617 309.433 99.7723 308.652 99.7723C307.759 99.7723 304.999 101.161 301.194 101.161C296.915 101.161 296.192 99.1269 294.913 99.1634C294.304 99.1802 291.115 101.205 288.442 101.161C284.001 101.082 281.779 91.7583 277.43 91.7583C276.226 91.7583 275.682 92.1721 275.317 93.1121L275.313 93.107L274.078 99.6517C273.966 100.267 273.377 100.764 272.762 100.764H268.357C267.741 100.764 267.332 100.267 267.442 99.6517L278.007 41.7273C278.117 41.1153 278.707 40.6163 279.323 40.6163H283.725C284.344 40.6163 284.752 41.1153 284.64 41.7273C284.64 41.7273 276.99 84.0013 276.832 84.7188C276.354 86.9279 283.065 85.5681 285.635 79.6318C286.221 78.4191 286.887 78.2948 287.399 78.3009C287.929 78.3059 290.502 78.3019 291.2 78.3019C292.175 78.3019 292.088 79.5725 291.962 80.0618C290.637 85.3399 284.408 88.5596 284.444 89.2206C284.475 89.8829 288.219 93.6221 288.951 94.737C289.681 95.852 292.47 95.2395 292.47 93.5912C292.47 84.1129 306.859 86.9441 307.917 86.9872C309.119 87.0344 309.045 84.2569 308.986 83.7681C308.933 83.2813 307.899 82.7323 305.052 82.7323C302.015 82.7323 297.064 82.7323 297.064 82.7323C296.381 82.7222 295.889 82.2719 295.972 81.7223L296.5 79.286C296.582 78.7354 297.203 78.2968 297.889 78.3059C297.889 78.3059 309.462 78.1716 310.757 78.6812C314.317 80.0847 314.449 82.9467 314.304 85.1163C314.162 87.2894 312.783 94.0648 312.783 94.4658C312.783 95.6173 314.542 95.3511 315.281 95.5732C316.022 95.7953 315.953 96.5983 315.904 96.9026C315.904 96.9026 315.685 98.948 315.384 99.706ZM266.467 71.0622H262.064C261.447 71.0622 261.037 70.5611 261.147 69.9512L261.843 66.1161C261.954 65.5051 262.543 65.0082 263.156 65.0082L267.564 65.0067C268.177 65.0082 268.586 65.5051 268.476 66.1161L267.784 69.9512C267.672 70.5611 267.084 71.0622 266.467 71.0622ZM262.361 99.6517C262.248 100.267 261.66 100.764 261.043 100.764H256.638C256.024 100.764 255.613 100.267 255.726 99.6517L259.424 79.4153C259.532 78.7993 260.122 78.3019 260.739 78.3019H265.144C265.76 78.3059 266.171 78.7993 266.056 79.4153L262.361 99.6517ZM235.096 100.861L235.05 100.847C234.685 100.778 234.413 100.761 234.274 100.811C234.099 100.873 233.891 101.073 233.568 101.224L233.504 101.266C233.157 101.442 232.688 101.532 231.931 101.418C231.401 101.339 230.326 101.182 229.653 101.073C229.018 100.974 228.765 100.442 228.807 100.104C228.911 99.2749 229.518 95.2238 229.656 94.4258C229.853 93.2951 230.682 92.7308 232.864 93.8016C245.687 100.099 245.578 88.9397 245.904 87.7543L253.217 48.2613C254.56 41.7663 261.208 40.9288 262.313 40.9809C264.222 41.0752 265.503 41.384 265.873 41.2111C266.239 41.0321 266.71 40.1758 268.321 40.4795C270.419 40.8801 271.515 40.5677 271.475 41.9342L270.361 46.7392C270.294 46.9546 270.076 48.1766 267.634 47.3527C260.365 44.9047 259.503 50.1301 259.44 50.6118C259.429 50.7076 251.921 91.8166 251.921 91.8166C249.202 104.675 238.149 101.719 235.096 100.861ZM274.794 0.388428L210.004 112.608H339.582L274.794 0.388428Z" fill="white"/>
                           </svg>
                       </div>
                   </div>
               </div>
           </div>
        </div>
    </div>
    <div class="info-footer-end">
        <div class="row">
            <div class=" col-md-auto col-sm-12 d-flex justify-content-center m-1 footer-end-info"> Imprint </div>
            <div class="col-md-auto col-sm-12 d-flex justify-content-center m-1 footer-end-info"> Legal Notice </div>
            <div class="col-md-auto col-sm-12 d-flex justify-content-center m-1 footer-end-info"> Terms & Condition of Sale </div>
            <div class="col-md-auto col-sm-12 d-flex justify-content-center m-1 footer-end-info"> Terms & Condition of Purchase</div>
        </div>
    </div>
</footer>


